*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
  scroll-behavior: smooth;
}

body{
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
  
}

/* START:STYLING  FOR THE NAVBAR STARTS FROM HERE */

.navbar{
  position: fixed;
  height: 13vh;
  width: 100vw;
  background: linear-gradient(100deg, #d58936  0%, #69140e 74%);
}

.navbar-brand img{
  width: 75px;
  height: 75px;
  border-radius: 60px;
  margin-left: 20px;
}

/* Align menu items to the right */
 .navbar-nav {
  margin-left: auto;
}

/* Add spacing between menu items */
.navbar-nav .nav-item {
  margin-left: .5rem;
  padding-right: 30px;
}

.navbar-toggler-icon {
  background-color: white; 
}

.navbar-nav .nav-link {
  position: relative; /* Required for the underline effect */
  color: white; /* Initial text color */
  transition: color 0.3s ease;
}

.navbar-nav .nav-link.active {
  color: white;
}

/* Hover text color change */
.navbar-nav .nav-link:hover {
  color: #d58936; /* Color on hover */
}

/* Underline effect on hover */
.navbar-nav .nav-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 2px;
  background-color: #d58936; /* Color of the underline */
  transition: width 0.3s ease, left 0.3s ease;
}

/* Expanding underline on hover */
.navbar-nav .nav-link:hover::after {
  width: 100%;
  left: 0;
}

/* Keep underline on active page */
.navbar-nav .nav-link.active::after {
  color: white;
  width: 100%;
  left: 0;
}

/* GET PRICE LIST BUTTON  */
.pricing{
  border: #fff 2px solid;
}

.pricing:hover{
  border:#d58936 2px solid
}

/* &&&&&&&&&&&&&&&&&&&&&&&&&&& */


/* END: STYLING FOR THE NAVBAR ENDS HERE */
/* ************************************************* */
#contact{
  margin-top: 13vh;
  display: flex;
  flex-direction:column;
  width:100vw;
  height: 40vh; 
  align-items: center;
  justify-content: center;
  animation: conta 3s; 
  /* background: lightcoral; */
  
}
@keyframes conta {
  0% {
      transform: rotateX(0deg) scale(0);
  }

}
.our-contacts{
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  width: 65vw;
  height: 35vh;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
} 

.our-contacts h1{
font-family: fantasy;
font-size: 35px;
color: #69140e;
}

.line{
  width: 100px;
  height: 4px;
  background-color: #69140e;
}



.our-contacts p{
  margin-top: 2vh;
  text-align: center;
  width: 55vw;
  height: 37vh;
  font-size: 20px;
  color: #69140e;
  /* background-color: blue; */
}
/* ************************************************** */

/* *********************************************** */
.contact-icons{
  margin-top: 4vh;
  display: flex;
  flex-wrap: wrap;
  width: 100vw;
  height: 60vh;
  align-items: center;
  justify-content: center;
  /* background: green; */
  }

.contact-icons i{
  display: flex;
  width: 60px;
  height: 75px;
  border-radius: 5px;
  background-color: #69140e;
  /*background: blue;*/
  justify-content: center;
  align-items: center;
  color: white;
}
.contact-icons .phone i{
  color: white !important;
  }

.contact-icons h1{
font-family: fantasy;
font-size: 25px;
color: #69140e;
}

.contact-icons p{
font-weight: bold;
color: #69140e;
}

/*.phone .fa-solid{*/
/*    color: white;*/
/*}*/

.phone, .whatsapp, .email, .address{
  margin: 8px;
  display: flex;
  width: 550px;
  height: 170px;
  align-items: center;
  justify-content: center;
  /* background-color: yellow; */
}    

.sub-phone, .sub-whatsapp, .sub-email, .sub-address{
  display: flex;
  flex-direction: column;
  width:450px;
  height: 100px;
  margin-left: 5px;
  padding-top: 10px;
  padding-left: 10px;
  /* background-color: red; */
}

.contact-icons a{
text-decoration: none;
color: white;
}

.contact-icons i:hover{
background-color: black ;
}

.contact-icons p:hover{
color:rgb(213,0,0) ;
}

/* ****************************************** */
#yes-msg{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80vw;
  height: 100vh;
  /* background-color: blue; */
}
.contact-form{
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80vw;
  height: 80vh;
  background-color: #d58936;
}

.cont-form, .maps{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38vw;
  height: 70vh;
  border-radius: 10px;
  /* background-color: rgb(70, 14, 166); */
  color: white;

}

form h5{
  font-family: fantasy;
  color: #69140e;
}

form input{
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 500px;
  height: 50px;
  border-radius: 6px;
  border: none;
  font-size: 16px;
  padding-left: 15px;
  background-color: #69140e;
  color: white;
  
}

textarea{
  width: 500px;
  height: 30vh;
  border-radius: 6px;
  font-size: 15px;
  padding-top: 10px;
  padding-left: 15px;
  background-color: #69140e;
  color: white;
}

.submit{
  display: flex;
  align-items: center;
  width: 200px;
  height: 45px;
  justify-content: center;
  text-align: center;
  background-color:#69140e;
  color: white;
  font-size: 18px;
}
.submit:hover{
  background-color: #d58936;
  outline: #69140e solid 2px;
  color: #69140e;
}
/* ***************** */
/* ***************************************************** */
.call-bar{
  width: 80vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #69140e;
}
.call-bar:hover{
  background-color: #d58936;
}

.call-bar .fa-solid{
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 20px;
  color: #69140e;
  background-color: white;
  align-items: center;
  justify-content: center;
}

.call-bar a{
  display: flex;
  width: 80vw;
  height: 10vh;
  text-decoration: none;
  color: white;
  align-items: center;
  justify-content: center;
}

.call-bar p{
  margin-top: 17px;
  font-size: 15px;
}

.call-bar a:hover{
  transform: scale(1.1);
  transition: transform 0.2s;
  
}

/* ************************************************************ */





footer{
    display: flex;
    width: 100vw;
    height: 10vh;
    color: white;  
    justify-content: right;
    align-items: center;
    font-size: 16px;
    background: linear-gradient(100deg, #69140e 0%, #d58936 74%);
  }
  
  .foot{
    display: flex;
    width: 18vw;
    height: 10vh;
    color: white;  
    justify-content: center;
    place-items: center;
    font-size: 16px;
    /* background-color: blue; */
    
  }
  
  .foot a{
    color: white;
    text-decoration: none;  
  }
  .foot a:hover{
    color: red;
  }
  
  .tag{
   text-shadow:2px 2px 2px grey;
   animation:bayo 2s ease 1s infinite;
  }
  
  @keyframes bayo{
  
   0%{
      transform:rotateX(-45deg);
  }
   50%{
      transform:rotateY(45deg);
  }
  } 
  